<h2 class='text-center'><b>{{fullname}} {{trainingplan}}</b></h2>
<h2 class='text-center'><b>{{coursename}}</b></h2>
<form action="" id="plan_form">
    <table class='table table-bordered table-striped table-hover'>
        <thead>
            <tr>
                <th>{{name}}</th>
                <th>{{employer_txt}}</th>
                <th>{{start_date}}</th>
                <th>{{plan_end_date}}</th>
                <th>{{length_of_prog}}</th>
                <th>{{otjh_txt}}</th>
                <th>{{epao_txt}}</th>
                <th>{{fund_source}}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td id="td_name"><input class='w-100' type='text' id="name" {{new_plan}} value="{{learnername}}" {{default_readonly}}></td>
                <td id="td_employer"><input class='w-100' type='text' id="employer" {{new_plan}} value="{{employer}}" {{default_readonly}}></td>
                <td id="td_startdate"><input class='w-100' type="date" id="startdate" {{new_plan}} value="{{startdate}}" {{default_readonly}}></td>
                <td id="td_planenddate"><input class='w-100' type="date" id="planenddate" {{new_plan}} value="{{plannedendd}}" {{edit_readonly}}></td>
                <td id="td_lengthofprog"><input class='w-100' type="number" id="lengthofprog" {{new_plan}} value="{{lengthofprog}}" {{default_readonly}}></td>
                <td id="td_otjh"><input class='w-100' type="number" id="otjh" {{new_plan}} value="{{otjh}}" {{default_readonly}}></td>
                <td id="td_epao">
                    <select class='w-100' id="epao" {{new_plan}} {{edit_readonly}}>
                        <option disabled {{epao_default}} value="">{{choose_epao}}</option>
                        <option value="frawards" {{frawards}}>{{fr_awards}}</option>
                        <option value="candg" {{candg}}>{{c_and_g}}</option>
                        <option value="innovate" {{innovate}}>{{innovate_txt}}</option>
                        <option value="dsw" {{dsw}}>{{dsw_txt}}</option>
                        <option value="nocn" {{nocn}}>{{nocn_txt}}</option>
                    </select>
                </td>
                <td id="td_fundsource">
                    <select class='w-100' id="fundsource" {{new_plan}} {{edit_readonly}}>
                        <option disabled {{fund_default}} value="">{{choose_fund_source}}</option>
                        <option value="contrib" {{contrib}}>{{contrib_five}}</option>
                        <option value="levy" {{levy}}>{{levy_txt}}</option>
                    </select>
                </td>
            </tr>
        </tbody>
    </table>
    <table class='table table-bordered table-striped table-hover'>
        <h3>{{initial_assess}}</h3>
        <thead>
            <tr>
                <th>{{bksb_rm}}</th>
                <th>{{bksb_re}}</th>
                <th>{{learn_style}}</th>
                <th>{{skill_scan_lr}}</th>
                <th>{{skill_scan_er}}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td id="td_bksbrm"><input class='w-100' type='number' id="bksbrm" {{new_plan}} value="{{bksbrm}}" {{edit_readonly}}></td>
                <td id="td_bksbre"><input class='w-100' type='number' id="bksbre" {{new_plan}} value="{{bksbre}}" {{edit_readonly}}></td>
                <td id="td_learnstyle">
                    <select class='w-100' id="learnstyle" {{new_plan}} {{edit_readonly}}>
                        <option disabled {{learnstyle_default}} value="">{{choose_learn_style}}</option>
                        <option value="visual" {{visual}}>{{visual_txt}}</option>
                        <option value="auditory" {{auditory}}>{{auditory_txt}}</option>
                        <option value="kinaesthetic" {{kinaesthetic}}>{{kinaesthetic_txt}}</option>
                    </select>
                </td>
                <td id="td_skillscanlr"><input class='w-100' type='text' id="skillscanlr" {{new_plan}} value="{{skillscanlr}}" {{edit_readonly}}></td>
                <td id="td_skillscaner"><input class='w-100' type='text' id="skillscaner" {{new_plan}} value="{{skillscaner}}" {{edit_readonly}}></td>
            </tr>
        </tbody>
    </table>
    <table class='table table-bordered table-striped table-hover'>
        <h3>{{otj_calc}}</h3>
        <thead>
            <tr>
                <th>{{appren_hpw}}</th>
                <th>{{weeks_on_prog}}</th>
                <th>{{less_al}}</th>
                <th>{{hours_pw}}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td id="td_apprenhpw"><input class='w-100' type="number" id="apprenhpw" step="0.01" {{new_plan}} value="{{hpw}}" {{default_readonly}}></td>
                <td id="td_weeksonprog"><input class='w-100' type="number" id="weeksonprog" step="1" {{new_plan}} value="{{wop}}" {{default_readonly}}></td>
                <td id="td_annualleave"><input class='w-100' type="number" id="annualleave" step="0.01" {{new_plan}} value="{{annuallw}}" {{default_readonly}}></td>
                <td id="td_hoursperweek"><input class='w-100' type="number" id="hoursperweek" step="0.01" {{new_plan}} value="{{hoursperweek}}" {{edit_readonly}}></td>
            </tr>
        </tbody>
    </table>
    <table class='table table-bordered table-striped table-hover'>
        <h3>{{asp_and_cg}}</h3>
            <tr class='d-flex'>
                <th class='w-25'>{{area_of_stren}}</th>
                <td class='w-75' id="td_aostrength"><textarea class='w-100' id="aostrength" {{new_plan}} {{edit_readonly}}>{{aostrength}}</textarea></td>
            </tr>
            <tr class='d-flex'>
                <th class='w-25'>{{long_tg}}</th>
                <td class='w-75' id="td_ltgoals"><textarea class='w-100' id="ltgoals" {{new_plan}} {{edit_readonly}}>{{ltgoals}}</textarea></td>
            </tr>
            <tr class='d-flex'>
                <th class='w-25'>{{short_tg}}</th>
                <td class='w-75' id="td_stgoals"><textarea class='w-100' id="stgoals" {{new_plan}} {{edit_readonly}}>{{stgoals}}</textarea></td>
            </tr>
            <tr class='d-flex'>
                <th class='w-25'>{{iag}}</th>
                <td class='w-75' id="td_iaguide"><textarea class='w-100' id="iaguide" {{new_plan}} {{edit_readonly}}>{{iaguide}}</textarea></td>
            </tr>
    </table>
    <table class='table table-bordered table-striped table-hover'>
        <thead>
            <tr>
                <th>{{rec_of_pl}}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td id="td_recopl"><textarea class='w-100' id="recopl" {{new_plan}} {{edit_readonly}}>{{recopl}}</textarea></td>
            </tr>
        </tbody>
    </table>
    <table class='table table-bordered table-striped table-hover'>
        <thead>
            <tr>
                <th>{{modules}}</th>
                <th>{{plan_sd}}</th>
                <th>{{revise_sd}}</th>
                <th>{{plan_ed}}</th>
                <th>{{revise_ed}}</th>
                <th>{{mod_weigh}}</th>
                <th>{{plan_otjh}}</th>
                <th>{{method_od}}</th>
                <th>{{otj_tasks}}</th>
                <th>{{act_otjh_comp}}</th>
            </tr>
        </thead>
        <tbody>
            {{#modulesarray}}
                <tr>
                    <td class='td-mod-m'><textarea class='w-100 mod-m' {{new_plan}} {{default_readonly}}>{{0}}</textarea></td>
                    <td class='td-mod-psd'><input class='w-100 mod-psd' type='date' {{new_plan}}></td>
                    <td class='td-mod-rsd'><input class='w-100 mod-rsd' type='date' {{new_disabled}}></td>
                    <td class='td-mod-ped'><input class='w-100 mod-ped' type='date' {{new_plan}}></td>
                    <td class='td-mod-red'><input class='w-100 mod-red' type='date' {{new_disabled}}></td>
                    <td class='td-mod-mw'><input class='w-100 mod-mw' type='number' step='0.01' {{new_plan}} value='{{1}}' {{default_readonly}}></td>
                    <td class='td-mod-potjh'><input class='w-100 mod-potjh' type='number' step='0.01' {{new_plan}} value='{{3}}' {{default_readonly}}></td>
                    <td class='td-mod-mod'><textarea class='w-100 mod-mod' {{new_plan}}>{{2}}</textarea></td>
                    <td class='td-mod-otjt'><textarea class='w-100 mod-otjt' {{new_plan}}></textarea></td>
                    <td><input class='w-100' disabled></td>
                </tr>
            {{/modulesarray}}
            {{#modarray}}
                <tr>
                    <td class='td-mod-m'><textarea class='w-100 mod-m' {{new_plan}} {{default_readonly}}>{{1}}</textarea></td>
                    <td class='td-mod-psd'><input class='w-100 mod-psd' type='date' {{new_plan}} value="{{2}}" {{edit_readonly}}></td>
                    <td class='td-mod-rsd'><input class='w-100 mod-rsd' type='date' {{new_disabled}} value="{{3}}"></td>
                    <td class='td-mod-ped'><input class='w-100 mod-ped' type='date' {{new_plan}} value="{{4}}" {{edit_readonly}}></td>
                    <td class='td-mod-red'><input class='w-100 mod-red' type='date' {{new_disabled}} value="{{5}}"></td>
                    <td class='td-mod-mw'><input class='w-100 mod-mw' type='number' step='0.01' {{new_plan}} value='{{6}}' {{default_readonly}}></td>
                    <td class='td-mod-potjh'><input class='w-100 mod-potjh' type='number' step='0.01' {{new_plan}} value='{{7}}' {{default_readonly}}></td>
                    <td class='td-mod-mod'><textarea class='w-100 mod-mod' {{new_plan}} {{edit_readonly}}>{{8}}</textarea></td>
                    <td class='td-mod-otjt'><textarea class='w-100 mod-otjt' {{new_plan}}>{{9}}</textarea></td>
                    <td><input class='w-100' disabled value="{{10}}"></td>
                </tr>
            {{/modarray}}
            <tr>
                <th>{{totals}}</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{total_mw}}</td>
                <td>{{total_otjh}}</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
    {{#fsrequired}}
        <div class='d-flex'><h2>{{required_fs}}</h2><p id='td_fscheckbox'><input class='ml-1 mt-3' type='checkbox' id='fscheckbox'></p></div>
    {{/fsrequired}}
    {{#fsarray}}
    <div style='display: {{0}};' id='fs_div'>
        <table class='table table-bordered table-striped table-hover'>
            <h3>{{func_sd}}</h3>
            <p>{{func_sd_desc}}</p>
            <thead>
                <tr>
                    <th>{{func_s}}</th>
                    <th>{{level}}</th>
                    <th>{{method_od}}</th>
                    <th>{{start_date}}</th>
                    <th>{{plan_end_date}}</th>
                    <th>{{act_ed}}</th>
                    <th>{{act_ead}}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td id='td_mathfs'><input class='w-100' type='text' id='mathfs' value="{{mathfs}}" {{default_readonly}}></td>
                    <td id='td_mathlevel'><input class='w-100' type='number' id='mathlevel' value="{{mathlevel}}" {{edit_readonly}}></td>
                    <td id='td_mathmod'><textarea class='w-100' id='mathmod' {{edit_readonly}}>{{mathmod}}{{defualt_fs_tor}}</textarea></td>
                    <td id='td_mathsd'><input class='w-100' type='date' id='mathsd' value="{{mathsd}}" {{edit_readonly}}></td>
                    <td id='td_mathped'><input class='w-100' type='date' id='mathped' value="{{mathped}}" {{edit_readonly}}></td>
                    <td id='td_mathaed'><input class='w-100' type='date' id='mathaed' {{new_disabled}} value="{{mathaed}}"></td>
                    <td id='td_mathaead'><input class='w-100' type='date' id='mathaead' {{new_disabled}} value="{{mathaead}}"></td>
                </tr>
                <tr>
                    <td id='td_engfs'><input class='w-100' type='text' id='engfs' value="{{engfs}}" {{default_readonly}}></td>
                    <td id='td_englevel'><input class='w-100' type='number' id='englevel' value="{{englevel}}" {{edit_readonly}}></td>
                    <td id='td_engmod'><textarea class='w-100' id='engmod' {{edit_readonly}}>{{engmod}}{{defualt_fs_tor}}</textarea></td>
                    <td id='td_engsd'><input class='w-100' type='date' id='engsd' value="{{engsd}}" {{edit_readonly}}></td>
                    <td id='td_engped'><input class='w-100' type='date' id='engped' value="{{engped}}" {{edit_readonly}}></td>
                    <td id='td_engaed'><input class='w-100' type='date' id='engaed' {{new_disabled}} value="{{engaed}}"></td>
                    <td id='td_engaead'><input class='w-100' type='date' id='engaead' {{new_disabled}} value="{{engaead}}"></td>
                </tr>
            </tbody>
        </table>
    </div>
    {{/fsarray}}
    <table class='table table-bordered table-striped table-hover' id="prog_table">
        <h3>{{prog_review}}</h3>
        <thead>
            <tr>
                <th>{{type_or}}</th>
                <th>{{plan_review}}</th>
                <th>{{act_review}}</th>
            </tr>
        </thead>
        <tbody id="pr_tbody">
            {{#prarray}}
                <tr class='tr-td-pr'>
                    <td class='td-pr-type'>
                        <select class='w-100 pr-type' {{new_plan}} {{6}}>
                            <option disabled {{progreview_default}} value="" {{1}}>{{learn_employ}}</option>
                            <option value='Learner' {{2}}>{{learner}}</option>
                            <option value='Employer' {{3}}>{{employer_txt}}</option>
                        </select>
                    </td>
                    <td class='td-pr-pr'><input class='w-100 pr-pr' type='date' {{new_plan}} value="{{4}}" {{6}}></td>
                    <td class='td-pr-ar'><input class='w-100 pr-ar' type='date' {{new_disabled}} value="{{5}}"></td>
                </tr>
            {{/prarray}}
        </tbody>
    </table>
    {{#prbtns}}
        <button type="button" class="btn btn-primary m-1" onclick="addprRecord()" id="pr_addnewrecord">{{add_new_rec}}</button>
        <button type="button" class="btn btn-primary m-1" onclick="removeprRecord()" id="pr_removerecord" disabled>{{rem_rec}}</button>
    {{/prbtns}}
    <table class='table table-bordered table-striped table-hover'>
        <thead>
            <tr>
                <th>{{additional_sa}}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td id="td_addsa"><textarea class='w-100' id="addsa" {{edit_readonly}}>{{addsa}}</textarea></td>
            </tr>
        </tbody>
    </table>
    <table class='table table-bordered table-striped table-hover'>
        <h3>{{change_lt}}</h3>
        <thead>
            <tr>
                <th>{{date_oc}}</th>
                <th>{{log}}</th>
            </tr>
        </thead>
        <tbody>
            {{#logarray}}
                <tr>
                    <td id="td_cl_date{{2}}"><input class='w-100' id="cl_date{{2}}" type="date" {{new_disabled}} value="{{0}}" {{2}}></td>
                    <td id="td_cl_log{{2}}"><textarea class='w-100' id="cl_log{{2}}" {{new_disabled}} {{2}}>{{1}}</textarea></td>
                </tr>
            {{/logarray}}
        </tbody>
    </table>
    <h1 style="display:none;" class='text-error' id="tp_error"></h1>
    {{#successUpdate}}
        <h1 class='text-success' id="tplan_success">{{0}}</h1>
    {{/successUpdate}}
    <button class='btn btn-primary w-100' type="submit" name="submit">{{submit}}</button>
</form>
<script src='./amd/min/{{jsfile}}.min.js' defer></script>