<button onclick="window.location.href='./teacher.php{{btm_ext}}'" class="btn btn-primary" id="setup_btm">{{btm}}</button>
<h2 class="text-center"><b>{{fullname}} {{setup}}</b></h2>
<h2 class="text-center"><b>{{coursename}}</b></h2>
<form action="" id="setup_form" class='text-center'>
    <table class='table table-bordered table-striped' style="max-width:800px;margin:0 auto;">
        <thead>
            <tr>
                <th>{{total_months}}</th>
                <th>{{total_otjh}}</th>
                <th>{{employ_or_store}}</th>
                <th>{{coach}}</th>
                <th>{{man_or_men}}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input class='w-100' type="number" required id="totalmonths"></td>
                <td><input class='w-100' type="number" required id="totalhours"></td>
                <td><input class='w-100' type="text" required id="eors"></td>
                <td><input class='w-100' type="text" required id="coach"></td>
                <td><input class='w-100' type="text" required id="morm"></td>
            </tr>
        </tbody>
    </table>
    <table class='table table-bordered table-striped' style="max-width:800px;margin:0 auto;">
        <thead>
            <tr>
                <th>{{start_date}}</th>
                <th>{{contract_hpw}}</th>
                <th>{{annual_lw}}</th>
                <th>{{trainingplan}}</th>
                <th style='display:none;' id="option_th">{{option}}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input class='w-100' type="date" required id="startdate"></td>
                <td><input class='w-100' type="number" step="0.01" required id="hpw"></td>
                <td><input class='w-100' type="number" step="0.01" required id="alw"></td>
                <td>
                    <select class='w-100' required id="trainplan" onchange="plan_clicked()">
                        <option disabled selected value="" hidden>{{choose_a_plan}}</option>
                        {{#filesarray}}
                            <option value='{{1}}' options='{{2}}' id="option_{{1}}">{{0}}</option>
                        {{/filesarray}}
                    </select>
                </td>
                <td style='display:none;' id="option_td">
                    <select class='w-100' id="option">
                        <option disabled selected value="" hidden>{{choose_a_option}}</option>
                    </select>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="sign-div text-center">
        <h4>{{coach_sign}}</h4>
        <canvas height="200px" width="500px" class="sign-canvas" style="background: white;" id="signature"></canvas>
        <button class="btn btn-primary mb-1 mr-1 clear-btn" type="button">{{clear}}</button>
    </div>
    <h2 style="display:none;" class="text-error" id="setup_error"></h2>
    <button type="submit" name="submit" class="btn btn-primary">{{submit}}</button>
</form>
<script src='./amd/min/setup.min.js'></script>
<script src='./amd/min/sign.min.js'></script>