<button onclick="window.location.href='./teacher.php{{btm_ext}}'" class="btn btn-primary" id="setup_btm">Back to menu</button>
<h2 class="text-center"><b>{{fullname}}'s Setup</b></h2>
<h2 class="text-center"><b>{{coursename}}</b></h2>
<form action="" id="setup_form" class='text-center'>
    <table class='table table-bordered table-striped' style="max-width:800px;margin:0 auto;">
        <thead>
            <tr>
                <th>Total Months</th>
                <th>Total Off The Job Hours</th>
                <th>Employer or Store</th>
                <th>Coach</th>
                <th>Manager/Mentor</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input class='w-100' type="number" required id="totalmonths"></td>
                <td><input class='w-100' type="number" required id="totalhours"></td>
                <td><input class='w-100' type="text" required id="eors"></td>
                <td><input class='w-100' type="text" required id="coach"></td>
                <td><input class='w-100' type="text" required id="morm"></td>
            </tr>
        </tbody>
    </table>
    <table class='table table-bordered table-striped' style="max-width:800px;margin:0 auto;">
        <thead>
            <tr>
                <th>Start Date</th>
                <th>Contracted Hours Per Week</th>
                <th>Annual Leave Weeks</th>
                <th>Training Plan</th>
                <th style='display:none;' id="option_th">Option</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input class='w-100' type="date" required id="startdate"></td>
                <td><input class='w-100' type="number" step="0.01" required id="hpw"></td>
                <td><input class='w-100' type="number" step="0.01" required id="alw"></td>
                <td>
                    <select class='w-100' required id="trainplan" onchange="plan_clicked()">
                        <option disabled selected value="" hidden>Choose A Training Plan</option>
                        {{#filesarray}}
                            <option value='{{1}}' options='{{2}}' id="option_{{1}}">{{0}}</option>
                        {{/filesarray}}
                    </select>
                </td>
                <td style='display:none;' id="option_td">
                    <select class='w-100' id="option">
                        <option disabled selected value="" hidden>Choose A Option</option>
                    </select>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="sign-div text-center">
        <h4>Coach signature</h4>
        <canvas height="200px" width="500px" class="sign-canvas" style="background: white;" id="signature"></canvas>
        <button class="btn btn-primary mb-1 mr-1 clear-btn" type="button">Clear</button>
    </div>
    <h2 style="display:none;" class="text-error" id="setup_error"></h2>
    <button type="submit" name="submit" class="btn btn-primary">Submit</button>
</form>
<script src='./classes/js/setup.js'></script>
<script src='./classes/js/sign.js'></script>