<h1 class='text-center'>{{title}} <br>{{coursename}}</h1>
<div id="course_content_div"></div>
<h2 class="text-error" style="display:none;" id="trainingplan_error"></h2>
<link rel="stylesheet" href="./classes/css/teacher.css">